################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/OEIS/obj
/.vs/ResearchCode/v16
/OEIS/bin/Debug
/OEIS/bin/Release
/packages
/FollowSpotlight/bin/Debug
/FollowSpotlight/obj
/FollowSpotlight/bin/Release
/chess/x64/Debug
/chess/x64/Debug
/chess/x64/Debug/chess.tlog
/x64/Debug
/chess/x64/Debug
/chess/x64/Release
/x64/Release
*.user
