/OEIS/obj
/.vs/ResearchCode/v16
/OEIS/bin/Debug
/OEIS/bin/Release
/packages
/FollowSpotlight/bin/Debug
/FollowSpotlight/obj
/FollowSpotlight/bin/Release
/chess/x64/Debug
/chess/x64/Debug
/chess/x64/Debug/chess.tlog
/x64/Debug
/chess/x64/Debug
/chess/x64/Release
/x64/Release
*.user
/MMGs/bin
/MMGs/obj
*/env/*
*.fit
*.FIT
*.jpg
*.JPG
*.avi
*.AVI
__pycache__