################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/OEIS/obj
/.vs/ResearchCode/v16
/OEIS/bin/Debug
/OEIS/bin/Release
/packages
/FollowSpotlight/bin/Debug
/FollowSpotlight/obj
/FollowSpotlight/CapObj/2021-10-04Z
/FollowSpotlight/bin/Release
